<div class="sign-in-and-sign-up">
    <div class='sign-in'>
        <h2>I already have an account</h2>
        <span>Sign in with your email and password</span>
        <form onSubmit={this.handleSubmit}>
            <div class="group">
                <input type='email' class="form-input" name='email' required />
                <label class="form-input-label">Email</label>
            </div>
            <div class="group">
                <input type='password' class="form-input" name='password' required />
                <label class="form-input-label">Password</label>
            </div>
            <div class='buttons'>
                <button type='submit'> Sign in </button>

            </div>
        </form>
    </div>

    <div class='sign-up'>
        <h2 class='title'>I do not have an account</h2>
        <span>Sign up with your email and password</span>
        <form class='sign-up-form' onSubmit={this.handleSubmit}>
            <div class="group">
                <input type='text' class="form-input" name='displayName' required />
                <label class="form-input-label">First Name</label>
            </div>
            <div class="group">
                <input type='text' class="form-input" name='lastName' required />
                <label class="form-input-label">Last Name</label>
            </div>
            <div class="group">
                <input type='email' class="form-input" name='email' required />
                <label class="form-input-label">Email</label>
            </div>
            <div class="group">
                <input type='password' class="form-input" name='password' required />
                <label class="form-input-label">Password</label>
            </div>


            <button type='submit'>SIGN UP</button>
        </form>
    </div>
</div>