

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>John Smith</mat-card-title>
        <mat-card-subtitle>I love dogs</mat-card-subtitle>
        <div><button mat-stroked-button color="warn" type='submit'>Change Avatar</button></div>

    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <div>
        </div>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <mat-form-field appearance="standard">
            <mat-label>Update Bio</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div>
            <button mat-stroked-button color="warn">Save</button>
        </div>
    </mat-card-content>

</mat-card>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                My Student ID
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-panel-description>
            <h1>{{currentUser.studentId}}</h1>
        </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                My name
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
        </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                My email
            </mat-panel-title>
            <mat-panel-description>
                <h1>{{currentUser.firstName}}</h1>
            </mat-panel-description>

        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Email-address</mat-label>
            <input matInput>
        </mat-form-field>
        <div>
            <button mat-stroked-button color="warn" type='submit'>Save</button>
        </div>

    </mat-expansion-panel>
</mat-accordion>
