<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body id="myPage" data-spy="scroll"  data-offset="50">



<div class="container text-center">
  <h3>GraphBook</h3>
  <p><em></em></p>
  <p> HERE IM GONNA WRITE EXPLANATION ABOUT THE WEBSITE lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
      lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
  </p>
  <br>

  <div id= "team" class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>TEAM MEMBER</strong></p><br>
    
     
         <div id="demo2">
        <p>example1</p>
        <p>example2</p>
        <p>example3</p>
        <p>example4</p>
        <p>example5</p>
    
      
      </div>
     
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>ROLE </strong></p><br>
     
      <div id="demo2">
        <p>role1</p>
        <p>role2</p>
        <p>role3</p>
        <p>role4</p>
        <p>role5</p>

      </div>
    </div>
   
  </div>
</div>


<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em> Contact Us</em></p>

  <div class="row">
    <div class="col-md-4">
      <p>Drop a note</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Montreal</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +1 438 988 3384</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: tamrazelias@gmail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit" (click) = 'send()'>Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>




</div>

<!-- Image of location/map -->
<h3 class="text-center">Headquarters</h3>
<p class="text-center"><em> Trottier Bldg, 3630 Rue University, Montreal, QC H3A 0C6</em></p>
<a  href="https://www.google.com/maps/place/Trottier+Bldg,+3630+Rue+University,+Montreal,+QC+H3A+0C6/@45.5074121,-73.5800895,18z/data=!3m1!4b1!4m5!3m4!1s0x4cc91a3829eadafd:0x304925aa0c44027d!8m2!3d45.5074102!4d-73.5789952">
    <img src="../../assets/Pictures/map.png" class="img-responsive" style="width:100%" >
    </a>





</body>
</html>
